<footer class="footer bg-dark-custom px-5 py-4">
    <div class="d-flex flex-row flex-wrap w-100">
        <div class="d-flex flex-column mr-auto mb-5">
            <a 
                class="navbar-brand" 
                href=""
                [routerLink]="['']"
            >
                <img 
                    src="/linkwire-logo.png" 
                    width="30"
                    height="30" 
                    class="d-inline-block align-top" alt="LinkWire Logo"
                />
                LinkWire
            </a>
            <h6 class="mt-3">URL Shortener & Web Traffic Analytics Platform</h6>
        </div>
        <div class="d-flex flex-column mb-5 footer-link-column">
            <h6>About</h6>
            <a href="https://app.linkwire.cc/terms_and_conditions.pdf" target="_blank">
                Terms of Service
            </a>
            <a href="https://app.linkwire.cc/privacy_policy.pdf" target="_blank">
                Pricacy Policy
            </a>
            <a [routerLink]="['faqs']">FAQs</a>
            <a href="https://github.com/AjayBhatta16/linkwire" target="_blank">
                Source Code 
            </a>
        </div>
        <div class="d-flex flex-column mb-5 footer-link-column">
            <h6>Help</h6>
            <a href="https://github.com/users/AjayBhatta16/projects/3" target="_blank">
                Report a Problem
            </a>
            <a href="https://github.com/users/AjayBhatta16/projects/4" target="_blank">
                Request a Feature
            </a>
            <a [routerLink]="['contact-us']">Contact Us</a>
        </div>
        <div class="d-flex flex-column mb-5 footer-link-column">
            <h6>Tools</h6>
            <a [routerLink]="['tools', 'device-detector']">Device Detector</a>
        </div>
        <div class="d-flex flex-column mb-5 footer-link-column">
            <h6>Support</h6>
            <a href="https://www.buymeacoffee.com/ajaybhatta49" target="_blank">
                Buy me a Coffee
            </a>
        </div>
    </div>
    <hr/>
    <p class="mt-5">LinkWire is developed and maintained by Ajay Bhattacharyya. Learn more at
        <a href="https://ajaybhattacharyya.com" target="_blank">ajaybhattacharyya.com</a>
    </p>
</footer>