<div class="container-fluid">
    <div class="d-flex flex-column align-items-center mt-5">
        <h1 class="mt-5">LinkWire</h1>
        <h6 class="mt-2">The minimalistic, Instagram-friendly IP logger</h6>
        <div class="d-flex flex-row justify-content-center mt-5">
            <a [routerLink]="['login']">
                <button class="btn mt-3 mr-1">Log In</button>
            </a>
            <a [routerLink]="['signup']">
                <button class="btn mt-3 ml-1">Sign Up</button>
            </a>
        </div>
    </div>
</div>