<div class="container landing-page-segment">
    <div class="d-flex flex-column align-items-center mt-5">
        <h1 class="mt-5">About Us</h1>
        <p class="w-75 mt-3">
            LinkWire is a URL shortening and web traffic analytics platform that empowers
            cybersecurity professionals to identify and assess threat actors across the internet.
            With our shortened URLs, you can get an inconspicuous link that will redirect
            users in the blink of an eye, taking them to a destination of your choice.
        </p>
        <p class="w-75 mt-2">
            With our dashboard, you can view real-time access logs for your URLs and discover a
            wide variety of information on the users who clicked it.
        </p>
        <p class="w-75 mt-2">
            Powered by the latest technology from Google Cloud, we deliver a seamless experience
            to both the sender and the clicker. This is why
            <a href="https://www.youtube.com/channel/UCw9CcBCwls9nP4WZHVlJ1xw" target="_blank">
                The Baitcave
            </a>
            and many others consider us their #1 choice for all of their web traffic analysis
            needs.
        </p>
        <p class="w-75 mt-2">
            In addition to our URL service, we offer a suite of free analytics tools for 
            parsing user agents, expanding URLs, and more. These are accessible free of charge
            with no sign-in required.
        </p>
    </div>
</div>