<div class="container-fluid">
    @if (error()) {
        <linkwire-failure-status-jumbotron
            headerText="This password reset link is not valid!"
            [errorDetailMessage]="errorDetailMessage()"
        />
    }

    @if (activeResetRequest()) {
        <div class="d-flex flex-column align-items-center mt-5">
            <h2 class="mb-3">
                Reset password for {{ activeResetRequest()?.username }}
            </h2>
            <form class="mt-5" [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <input 
                        type="password" 
                        matInput 
                        placeholder="Password" 
                        formControlName="password"
                    >
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input 
                        type="password" 
                        matInput 
                        placeholder="Confirm Password" 
                        formControlName="confirmPassword"
                    >
                </mat-form-field>
                <br/>
                <small 
                    class="form-text text-danger mb-2" 
                >
                    {{ (validationError$ | async) }}
                </small>
                <div class="button">
                    <button 
                        type="submit" 
                        mat-raised-button 
                        color="primary"
                    >Update Password</button>
                </div>
            </form>
        </div>
    }
</div>