<div class="container-fluid">
    <div class="d-flex flex-column align-items-center mt-5">
        <h1 class="mb-3">Sign In</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input 
                    type="text" 
                    matInput 
                    placeholder="Username" 
                    formControlName="username"
                >
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input 
                    type="text" 
                    matInput 
                    placeholder="E-Mail" 
                    formControlName="email"
                >
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input 
                    type="password" 
                    matInput 
                    placeholder="Password" 
                    formControlName="password"
                >
            </mat-form-field>
            <div class="mt-0 mb-2">
                <a [routerLink]="['/login']" class="mr-3"><small>Already have an Account? Log In</small></a>
            </div>
            <small 
                class="form-text text-danger mb-2" 
            >
                {{ (error$ | async) }}
            </small>
            <div class="button">
                <button 
                    type="submit" 
                    mat-raised-button 
                    color="primary"
                >Sign Up</button>
            </div>
        </form>
    </div>
</div>