/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body { 
    height: 100%; 
    background-color: #16023f;
    color: rgb(240, 240, 240);
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 60px;
}

small {
    min-height: 1.2em;
}